
<% provide(:title, "Home") %>

	<!-- ==== HEADERWRAP ==== -->
    <div id="headerwrap" id="home" name="home">
		<header class="clearfix">
			    <p id="welcome-home">Hi! Welcome to my online portfolio. <!-- Dynamically welcome user by typing animation of welcome --> </p>
			    <p id="blog-plug"> Check out my blog for interview prep, theory review, and workout suggestions.</p>
			    <p id="signature-home"> <!-- Dynamically sign Morgan Howell after welcome animation --> </p>
			    <%= image_tag("fox_git.jpg", size: "110x110", id: "fox_git", class: "hidden")%>
  		</header>	    
    </div><!-- /headerwrap -->

	<!-- ==== ABOUT ==== -->
	<div class="container" id="bio" name="bio">
		<div class="row white">
		<br>
			<h1 class="centered">A LITTLE ABOUT MYSELF</h1>
			<hr>
			
			<div class="col-lg-6">
				<p>I study computer science and business at the University of North Carolina at Chapel Hill. I've loved computers for as long as I can remember. As a kid I was fascinated with the idea of connecting a bunch of small components to create an entirely new entity, representing a different purpose and capacity than the individual components that make it. I grew up in a very small and economically depressed town (Cottonville, North Carolina) where resources of all varieties, including a quality education, were hard to come by. After many years of self-studying and convincing my parents, I left home at 15 to pursue a better environment at a public boarding school, the North Carolina School of Science and Mathematics in Durham, North Carolina. At NCSSM I became involved in research at Duke University which ignited my love and curiosity for academia, especially for the fields of biology and computer science. I competed, winning many award, in competitions such as the Siemens-Westinghouse, iGEM, and state-level mock trial. I was also really into wrestling throughout all of high school. After years of fighting to excel in a very competitive environment in Durham and after months of work in the lab desperately trying to figure out this new world that seemed so different from everything I had ever known, I became the first person in my family to attend college. I was even fortunate enough to receive a scholarship and enter a community which has allowed me to broaden my perspective in ways I could have never foreseen or predicted. Since my first year of college I've drifted more towards pursuing startups instead of research.  </p>
			</div><!-- col-lg-6 -->
			
			<div class="col-lg-6">
				<p>While I'm still extremely interested in academia, I feel that I can make a more immediate impact on certain communities through targeting particular niches and aiming for improvement in quality of education and life through various channels such as job creation. I've founded and contributed to several startups including Appetite: a food discovery app for contextual searches, Vitrium: a Google Glass app that automates the documentation process for implanted surgical devices, Alescro: an escrow service implementing "smart contracts" for the storage of arbitrary data, and Carolina Creates Technology: my University's #1 accelerator program for student-lead startups. Hungry for cultural exposure, I've also jumped at every opportunity to study and work in other countries for long periods of time . I've traveled to many countries including Spain, Tanzania, China, Singapore, Indonesia, Thailand, Malaysia, Honduras, Belize, Mexico, and the UAE. I've also had the opportunity to take part in delightfully challenging internships at Godaddy and Microsoft, which lead me to place in some corporate hackathons! I studied for a semester at the National University of Singapore and for a month at the Don Quijote Escuela de Idiomas in Madrid. I lectured at Universities (on design patterns at Tungu and SUZA) and contributed to public software projects throughout parts of Tanzania. The coolest experience I've ever had in my life however was the time I scrubbed in on a double valve replacement (open heart surgery) in Guiyang, China. If you're interested in hearing more, feel free to contact me via any social media outlet below. I'm currently looking for a full-time job in either software engineering or product management in Silicon Valley. If you think I could be a match, please hit me up! 
				</p>
				<!-- TODO: INCLUDE PICS OF EVERYTHING THAT YOU MENTIONED IN THESE PARAGRAPHS -->
			</div><!-- col-lg-6 -->

<div id="cp_widget_4bdfe5e1-5c9a-48eb-9329-2231b1b0df4b">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_4bdfe5e1-5c9a-48eb-9329-2231b1b0df4b"; cpo["_fid"] = "AkPAhz9OQFPW";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='https://www.cincopa.com/video-portal'>Video Portal</a> for Business solution.<span>New Gallery 2016/11/7</span><span>focallength</span><span> 2.77</span><span>flash</span><span> 32</span><span>cameramake</span><span> GoPro</span><span>height</span><span> 3000</span><span>fnumber</span><span> 2.8</span><span>exposuretime</span><span> 0.0007949757</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 2/16/2014 8:13:46 PM</span><span>width</span><span> 4000</span><span>cameramodel</span><span> Hero3-Black Edition</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 600</span><span>height</span><span> 232</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 900</span><span>height</span><span> 604</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 800</span><span>height</span><span> 600</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 2048</span><span>height</span><span> 1536</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 937</span><span>height</span><span> 1172</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 960</span><span>height</span><span> 717</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 960</span><span>height</span><span> 717</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 2048</span><span>height</span><span> 1536</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 2048</span><span>height</span><span> 1536</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 2048</span><span>height</span><span> 1536</span><span>originaldate</span><span> 1/27/2012 4:00:33 AM</span><span>height</span><span> 640</span><span>width</span><span> 960</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>focallength</span><span> 4.15</span><span>flash</span><span> 24</span><span>cameramake</span><span> Apple</span><span>height</span><span> 3264</span><span>fnumber</span><span> 2.2</span><span>exposuretime</span><span> 0.0003789314</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 2/25/2016 4:33:05 PM</span><span>width</span><span> 2448</span><span>cameramodel</span><span> iPhone 6</span><span>originaldate</span><span> 1/17/2013 1:35:13 AM</span><span>height</span><span> 2592</span><span>width</span><span> 1936</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 2/21/2013 9:17:27 PM</span><span>height</span><span> 1936</span><span>width</span><span> 2592</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 11/15/2013 8:54:25 PM</span><span>height</span><span> 717</span><span>width</span><span> 960</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 11/19/2013 7:36:51 PM</span><span>height</span><span> 717</span><span>width</span><span> 717</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>focallength</span><span> 3.3</span><span>flash</span><span> 16</span><span>cameramake</span><span> Apple</span><span>height</span><span> 1936</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.06666667</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 5/2/2013 2:36:47 AM</span><span>width</span><span> 2592</span><span>cameramodel</span><span> iPod touch</span><span>focallength</span><span> 4.15</span><span>flash</span><span> 16</span><span>cameramake</span><span> Apple</span><span>height</span><span> 2448</span><span>fnumber</span><span> 2.2</span><span>exposuretime</span><span> 0.0303030312</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 4/28/2016 7:36:38 PM</span><span>width</span><span> 3264</span><span>cameramodel</span><span> iPhone 6</span><span>focallength</span><span> 4.12</span><span>flash</span><span> 16</span><span>cameramake</span><span> Apple</span><span>height</span><span> 3264</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.05</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 2/5/2014 2:07:05 AM</span><span>width</span><span> 2448</span><span>cameramodel</span><span> iPhone 5</span><span>originaldate</span><span> 3/10/2014 1:23:09 AM</span><span>height</span><span> 640</span><span>width</span><span> 803</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>focallength</span><span> 4.15</span><span>flash</span><span> 16</span><span>cameramake</span><span> Apple</span><span>height</span><span> 2448</span><span>fnumber</span><span> 2.2</span><span>exposuretime</span><span> 0.0303030312</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 5/9/2016 3:27:54 PM</span><span>width</span><span> 3264</span><span>cameramodel</span><span> iPhone 6</span><span>originaldate</span><span> 6/5/2016 10:21:26 PM</span><span>height</span><span> 960</span><span>width</span><span> 1280</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>focallength</span><span> 4.15</span><span>flash</span><span> 16</span><span>cameramake</span><span> Apple</span><span>height</span><span> 3264</span><span>fnumber</span><span> 2.2</span><span>exposuretime</span><span> 0.000884955749</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 6/5/2016 10:22:35 PM</span><span>width</span><span> 2448</span><span>cameramodel</span><span> iPhone 6</span><span>focallength</span><span> 4.12</span><span>flash</span><span> 16</span><span>cameramake</span><span> Apple</span><span>height</span><span> 3264</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.000904159155</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 6/8/2014 9:51:59 PM</span><span>width</span><span> 2448</span><span>cameramodel</span><span> iPhone 5</span><span>cameramake</span><span> Apple</span><span>focallength</span><span> 4.12</span><span>height</span><span> 2448</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.06666667</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 6/19/2014 12:47:25 AM</span><span>width</span><span> 3264</span><span>cameramodel</span><span> iPhone 5</span><span>focallength</span><span> 4.12</span><span>flash</span><span> 9</span><span>cameramake</span><span> Apple</span><span>height</span><span> 1280</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.0625</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 6/25/2014 2:00:53 PM</span><span>width</span><span> 960</span><span>cameramodel</span><span> iPhone 5</span><span>focallength</span><span> 4.12</span><span>flash</span><span> 9</span><span>cameramake</span><span> Apple</span><span>height</span><span> 960</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.02</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 6/23/2014 5:20:39 PM</span><span>width</span><span> 1280</span><span>cameramodel</span><span> iPhone 5</span><span>cameramake</span><span> Canon</span><span>focallength</span><span> 8.577</span><span>height</span><span> 3456</span><span>fnumber</span><span> 5</span><span>exposuretime</span><span> 0.025</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 6/5/2014 1:07:04 AM</span><span>width</span><span> 4608</span><span>cameramodel</span><span> Canon PowerShot SX50</span><span>cameramake</span><span> Canon</span><span>focallength</span><span> 4.3</span><span>height</span><span> 3456</span><span>fnumber</span><span> 3.4</span><span>exposuretime</span><span> 0.1</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 6/8/2014 4:12:19 AM</span><span>width</span><span> 4608</span><span>cameramodel</span><span> Canon PowerShot SX50</span><span>focallength</span><span> 4.12</span><span>flash</span><span> 24</span><span>cameramake</span><span> Apple</span><span>height</span><span> 3264</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.05</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 7/19/2014 1:15:11 PM</span><span>width</span><span> 2448</span><span>cameramodel</span><span> iPhone 5</span><span>focallength</span><span> 4.12</span><span>flash</span><span> 16</span><span>cameramake</span><span> Apple</span><span>height</span><span> 3264</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.0007007708</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 7/26/2014 12:58:10 PM</span><span>width</span><span> 2448</span><span>cameramodel</span><span> iPhone 5</span><span>focallength</span><span> 4.12</span><span>flash</span><span> 24</span><span>cameramake</span><span> Apple</span><span>height</span><span> 3264</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.05882353</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 8/5/2014 7:42:37 PM</span><span>width</span><span> 2448</span><span>cameramodel</span><span> iPhone 5</span><span>focallength</span><span> 4.12</span><span>flash</span><span> 9</span><span>cameramake</span><span> Apple</span><span>height</span><span> 1280</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.05</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 7/19/2014 6:44:07 PM</span><span>width</span><span> 960</span><span>cameramodel</span><span> iPhone 5</span><span>focallength</span><span> 4.12</span><span>flash</span><span> 16</span><span>cameramake</span><span> Apple</span><span>height</span><span> 3264</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.05</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 3/27/2015 12:37:54 AM</span><span>width</span><span> 2448</span><span>cameramodel</span><span> iPhone 5</span><span>focallength</span><span> 4.12</span><span>flash</span><span> 24</span><span>cameramake</span><span> Apple</span><span>height</span><span> 2448</span><span>fnumber</span><span> 2.2</span><span>exposuretime</span><span> 0.0025839794</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 4/10/2015 4:34:27 PM</span><span>width</span><span> 3264</span><span>cameramodel</span><span> iPhone 5s</span><span>focallength</span><span> 4.12</span><span>flash</span><span> 16</span><span>cameramake</span><span> Apple</span><span>height</span><span> 2448</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.06666667</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 4/12/2015 1:50:24 AM</span><span>width</span><span> 3264</span><span>cameramodel</span><span> iPhone 5</span><span>focallength</span><span> 4.12</span><span>flash</span><span> 24</span><span>cameramake</span><span> Apple</span><span>height</span><span> 3264</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.05</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 5/10/2015 9:33:02 PM</span><span>width</span><span> 2448</span><span>cameramodel</span><span> iPhone 5</span><span>focallength</span><span> 4.15</span><span>flash</span><span> 24</span><span>cameramake</span><span> Apple</span><span>height</span><span> 2448</span><span>fnumber</span><span> 2.2</span><span>exposuretime</span><span> 0.0333333351</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 5/14/2015 7:39:06 PM</span><span>width</span><span> 2448</span><span>cameramodel</span><span> iPhone 6 Plus</span><span>focallength</span><span> 2.18</span><span>flash</span><span> 32</span><span>cameramake</span><span> Apple</span><span>height</span><span> 960</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.00184842886</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 7/4/2015 6:44:10 PM</span><span>width</span><span> 1280</span><span>cameramodel</span><span> iPhone 5</span><span>originaldate</span><span> 7/11/2015 7:19:33 PM</span><span>height</span><span> 640</span><span>width</span><span> 1136</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>focallength</span><span> 4.12</span><span>flash</span><span> 16</span><span>cameramake</span><span> Apple</span><span>height</span><span> 2447</span><span>fnumber</span><span> 2.4</span><span>exposuretime</span><span> 0.05882353</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 7/30/2015 5:06:05 PM</span><span>width</span><span> 2447</span><span>cameramodel</span><span> iPhone 5</span><span>originaldate</span><span> 12/21/2015 6:41:49 AM</span><span>height</span><span> 768</span><span>width</span><span> 1024</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>focallength</span><span> 4.15</span><span>flash</span><span> 16</span><span>cameramake</span><span> Apple</span><span>height</span><span> 2448</span><span>fnumber</span><span> 2.2</span><span>exposuretime</span><span> 0.01</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Photos 1.5</span><span>originaldate</span><span> 1/11/2016 4:16:53 PM</span><span>width</span><span> 3264</span><span>cameramodel</span><span> iPhone 6</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 399</span><span>height</span><span> 600</span></noscript>

		</div><!-- row -->
	</div><!-- container -->



	<!-- ==== PORTFOLIO ==== -->
		<div class="container" id="portfolio" name="portfolio">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">SIDE PROJECTS</h1>
				<hr>
				<br>
				<br>
			</div><!-- /row -->
			<div class="container">
			<div class="row">	
			
				<!-- PORTFOLIO IMAGE 1 -->
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<%= image_tag("vitrium_logo.jpg", size: "600x400", class: "img-responsive")%>
							<figcaption>
								<h5>VITRIUM HEALTH</h5>
								<a data-toggle="modal" href="#modal1" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				
						 <!-- MODAL FOR PORTFOLIO IMAGE 1 -->
						      
						  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Vitrium (Java, Haskell, Rails) </h4>
						        </div>
						        <div class="modal-body">
						          <p><%= image_tag("vitrium_logo.jpg", size: "600x400", class: "img-responsive")%></p>
						          <p>Vitrium is a Google Glass app that automates the note taking process for surgeons during surgery. Currently a third party sales representative records devices that are implanted within patients in the operating room. Vitrium provides a hands-free method of recording device names, such as "2.5mm Stryker Screw", so that the information can be appended to the patient's EHR for inventory purposes.</p>
						          <p><b><a href="http://vitriumhealth.com/">Public Face (for demo requests)</a></b></p>
						          <p><b><a href="https://vitrium-health.herokuapp.com/">APIs (consumed for documentation by Glass) </a></b></p>
						          <p><b><a href="https://github.com/vitrium">Repos</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
				
				
				<!-- PORTFOLIO IMAGE 2 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<%= image_tag("alescro_logo.jpg", class: "img-responsive")%>
							<figcaption>
								<h5>ALESCRO</h5>
								<a data-toggle="modal" href="#modal2" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- MODAL FOR PORTFOLIO IMAGE 2 -->
						      
						  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Alescro</h4>
						        </div>
						        <div class="modal-body">
						          <p><%= image_tag("alescro_logo.jpg", class: "img-responsive")%></p>
						          <p> Alescro serves as an escrow service that stores and secures arbitrary data (implementing a form of CBC-AES encryption) with the ability to be accessed through open-ended release conditions by the third-party escrow member. Release conditions are specified by means of a "smart contract" which may involve simplified time-keeping logic (such as the passing of a date) or more sophisticated conditions which can be verified within trustable public records, such as the outcome of a sports event or reflection of a new birth certificate entry. I built a custom authentication layer on OAuth2 protocol using Doorkeeper and Devise that enables Alescro to be both an OAuth provider and client. Users can acquire Alescro auth tokens, which gives them full access to all the APIs and services, through signing in with Facebook, LinkedIn, Google, or creating an Alescro account. One cool use case of this product would be someone uploading a video to tell their child happy birthday when the child turns 70. The person sending the video may not be physically around to witness the birthday, but they can encrypt a video and state within the smart contract that the video must not be released to the other party until public records reflect the 70th birthday. In this example, the contract is being used as a smart time-capsule, similar to how one would hand papers to a lawyer (the escrow) with the intentions of others not receiving the papers until the death of the sender and the occurrence of some event (such as financial trouble).
						          </p>
						          <p><b><a href="#">Visit Site</a></b></p>
						          <p><b>
						          <%= link_to("OAuth Architecture", downloadAlescroAuthFlow_path) %> 
						        	</b></p>
						          <p><b><a href="https://github.com/Guru-Developers/Alescro-Online">Web Portal Repo</a></b></p>
						          <p><b><a href="https://github.com/Guru-Developers/Alescro-iOS">iOS Repo</a></b></p>
						          <p><b><a href="https://github.com/Guru-Developers/Alescro-Android">Android Repo</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->


				
				<!-- PORTFOLIO IMAGE 3 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<%= image_tag("clock_work_logo.jpg", class: "img-responsive")%>
							<figcaption>
								<h5>CLOCKWORK</h5>
								<a data-toggle="modal" href="#modal3" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
			</div><!-- /row -->

			<!-- MODAL FOR PORTFOLIO IMAGE 3 -->
						      
						  <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">ClockWork</h4>
						        </div>
						        <div class="modal-body">
						          <p><%= image_tag("clock_work_logo.jpg", class: "img-responsive")%></p>
						          <p><%= image_tag("clock_work_team.jpg", size: "550x250")%></p>
						          <p>Are you a command­line addict? Are you looking for a scheduler with the ease and dexterity of
															performing common tasks on Unix? Look no further. Clockwork is a to­do list scheduler that
															runs entirely on user typed commands, backed with the option of aesthetically pleasing GUI
															feedback including Google­like calendar and agenda views. Through the command line
															interface, you may:<br>

															<span style="margin-left: 40px;"> ● Add, modify, undo, redo, and delete tasks of all varieties </span> <br>

															<span style="margin-left: 40px;"> ● Display tasks through calendars, agendas, and text</span><br>

															<span style="margin-left: 40px;"> ● Mark tasks to indicate priority, completion, and type</span><br>

															<span style="margin-left: 40px;"> ● Search through tasks to retrieve information based off date, name, etc.</span><br>

															<span style="margin-left: 40px;"> ● Get help, conveniently at anytime in an accessible format</span><br>

															<span style="margin-left: 40px;"> ● Navigate quickly with hot keys and bins that organize tasks</span><br>

															Clockwork does all that, and much more! It is a tool that holds the capacity to serve as a great
															addition to any developer’s suite of tools, holding the ability to have input piped in from users
															and other running programs so that it can reflect beautiful GUI agendas and calendars without
															ever having to click the mouse.

													</p>
						          <p><b><%= link_to("Runnable Jar", downloadCWjar_path)%></b></p>
						          <p><b> <%= link_to("User Guide", downloadClockWorkUserGuide_path) %>
						          </b></p>
						          <p><b><a href="https://github.com/cs2103jan2016-T09-5j/main">Repo</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->

				<!-- PORTFOLIO IMAGE 4 -->
			<div class="row">	
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<%= image_tag("jcf_logo.jpg", class: "img-responsive")%>
							<figcaption>
								<h5>AST ANALYZER</h5>
								<a data-toggle="modal" href="#modal4" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- MODAL FOR PORTFOLIO IMAGE 4 -->
						      
						  <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Javascript Challenge Framework</h4>
						        </div>
						        <div class="modal-body">
						          <p><%= image_tag("jcf_logo.jpg", class: "img-responsive")%></p>
						          <p>JCF uses the popular light-weight JavaScript parser Acorn to construct an AST (abstract syntax tree) from valid JavaScript code the user submits. As part of my project submission to Khan Academy, I created a suite of APIs that navigated these ASTs using various graph searching algorithms (Dijkstra, BFS, DFS, A*) to validate submitted code and enforce relations created by the user through the graphical hierarchy enforcer. A user can enforce certain relationships, such as black listing a for loop or enforcing the presence of a conditional statement that is nested within a for loop that is the sibling of another for loop. The console tells the user (in real time as they type) whether the code satisfies the enforced relations or not. Password for accessing the website is: "KhanAcademyRocks!".</p>
						          <p><b><a href="https://js-challenge.herokuapp.com/">The Site</a></b></p>
						          <p><b><a href="https://github.com/morganhowell95/JSChallengeFramework-KhanAcademy">The Repo</a></b></p>
						          <p><b><a href="https://github.com/ternjs/acorn">Acorn Docs</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
				
				<!-- PORTFOLIO IMAGE 5 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<%= image_tag("carolina_creates_logo.jpg", class: "img-responsive")%>
							<figcaption>
								<h5>CAROLINA CREATES</h5>
								<a data-toggle="modal" href="#modal5" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- MODAL FOR PORTFOLIO IMAGE 5 -->
						      
						  <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Carolina Creates</h4>
						        </div>
						        <div class="modal-body">
						          <p><%= image_tag("carolina_creates_logo.jpg", class: "img-responsive")%></p>
						          <p>Carolina Creates' mission is to foster innovative creation on campus by providing the resources needed to make ideas happen. The organization builds a collaborative community of innovators, leaders, thinkers, and doers. I joined my Junior year as board member and Director of Technology. Under Carolina Creates I developed my school's first crowdfunding platform, where statups can apply to be funded by fellow students.</p>
						          <p><b><a href="http://www.carolinacreates.unc.edu/">Carolina Creates (public face)</a></b></p>
						          <p><b><a href="http://www.carolinacreates.unc.edu/communities/technology">Carolina Creates' Technology</a></b></p>
						          <p><b><a href="http://www.carolinacreates.unc.edu/crowdfunding-platform">The Sonder Market (example)</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
				
				<!-- PORTFOLIO IMAGE 6 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<%= image_tag("appetite_logo.jpg", class: "img-responsive")%>
							<figcaption>
								<h5>APPETITE</h5>
								<a data-toggle="modal" href="#modal6" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
			</div><!-- /row -->

			<!-- MODAL FOR PORTFOLIO IMAGE 6 -->
						      
						  <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Javascript Challenge Framework</h4>
						        </div>
						        <div class="modal-body">
						          <p><%= image_tag("appetite_logo.jpg", class: "img-responsive")%></p>
						          <p>Appetite is an iOS and Android application designed to provide suggestions of local venues based on the user's perceived mood. The application will collect information on the user's profile (if allowed) and environmental factors such as weather and time to come up with a selection of moods for the user to pick.</p>
						          <p><b><a href="https://play.google.com/store/apps/details?id=guru.apps.llc.appetite">Appetite on Google Play</a></b></p>
						          <p><b><a href="https://github.com/morganhowell95/Appetite">Open-Source Objective-C Repos</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->



				<!-- PORTFOLIO IMAGE 7 -->
			<div class="row">	
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<%= image_tag("NUSRiders_logo.jpg", class: "img-responsive")%>
							<figcaption>
								<h5>NUSRIDERS</h5>
								<a data-toggle="modal" href="#modal7" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- MODAL FOR PORTFOLIO IMAGE 7 -->
						      
						  <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Javascript Challenge Framework</h4>
						        </div>
						        <div class="modal-body">
						          <p><%= image_tag("NUSRiders_logo.jpg", class: "img-responsive")%></p>
						          <p>During my time in Singapore I developed a ride sharing service in PHP. I never actually intended to bring this to market, rather hoped the project would help me become more comfortable with PHP and writing raw SQL entities and queries which Rails had been shielding me from up until this point. I also layered in a couple Google APIs (including Maps) which directly interface with the DBs through custom-written PHP adapters. Schemas and query examples can be found on the repo link.</p>
						          <p><b><a href="#">The Site (being deployed soon)</a></b></p>
						          <p><b><a href="https://github.com/morganhowell95/NUSriders">The Repo</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
				
				<!-- PORTFOLIO IMAGE 8 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<%= image_tag("pro_logo.jpg", class: "img-responsive")%>
							<figcaption>
								<h5>GD HACKATHON</h5>
								<a data-toggle="modal" href="#modal8" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- MODAL FOR PORTFOLIO IMAGE 8 -->
						      
						  <div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">WebPro Finder</h4>
						        </div>
						        <div class="modal-body">
						          <p><%= image_tag("pro_logo.jpg", class: "img-responsive")%></p>
						          <p>An app for GoDaddy’s small business customers to find and work with each other based on location and skillset, so they can take on bigger projects. The app was integrated as a part of the GoDaddy WebPro prlatform after Godaddy's corporate hackathon, upon our manager’s request; The project won third place. Repos are private because it's planned to be a part of the WebPro platform. Feel free to checkout my former team page however to get a feel for its scope.</p>
						          <p><b><a href="https://www.godaddy.com/pro">Godaddy WebPro</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
				
				<!-- PORTFOLIO IMAGE 9 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<%= image_tag("igem_logo.jpg", class: "img-responsive")%>
							<figcaption>
								<h5>IGEM SUBMISSION</h5>
								<a data-toggle="modal" href="#modal9" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->

				<!-- MODAL FOR PORTFOLIO IMAGE 9 -->
						      
						  <div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">iGEM Project Submission</h4>
						        </div>
						        <div class="modal-body">
						          <p><%= image_tag("igem_logo.jpg", class: "img-responsive")%></p>
						          <p>
						          	Medical genetic therapy has shown promise for improved accuracy in personalized genetic therapy of conditions such as Alzheimer’s disease and cancer. However, the speed of current medical genetic screening methods is limited by time-consuming rates of cell growth and gene expression. The goal during my time researching at Duke University, therefore, was to develop a comprehensive platform for other researchers to use to optimize medical genetic studies in terms of time and efficiency.

												In yeast, an orthologous model of human gene function, my team and I developed a system of two dimerizing fusion proteins to control two-hybrid mediated transcriptional activation in response to a 450 nm blue light (optogenetic) stimulus. After extensive characterization and optimization of our system, we compiled our methodologies into a physical toolkit, which contains custom yeast strains frozen in glycerol stocks, standardized plasmids, a stochastic network model, the design of a light pulse generator to induce gene expression, and a custom software package for rapid analysis of data (which I wrote in C++). If that sounded like a slur of jargon, check out our wiki for a more detailed description.
											</p>
						          <p><b><a href="http://2012.igem.org/Team:Duke/Project">Project Description Wiki</a></b></p>
						          <p><b> <%= link_to("Paper Submission for Siemens-Westinghouse and iGEM", downloadSiemens_path) %></b></p>
						          <p><b><a href="http://www.bizjournals.com/triangle/blog/2013/02/former-gsk-exec-wins-life-science.html#i5">Press</a></b></p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
			</div><!-- /row -->


			<br>
			<br>
		</div><!-- /row -->
			<br>
			<br>
		</div><!-- /row -->
	</div><!-- /container -->

	
	<section class="section-divider textdivider divider6">
			<div class="container" id="make-location">
				<h1>CRAFTED IN CHAPEL HILL, NORTH CAROLINA</h1>
				<hr>
				<p>
					<%= image_tag("unc_logo.jpg", size: "150x150", id: "unc-logo")%>
		  	</p>
			</div><!-- container -->
		</section><!-- section -->


		<div class="container" id="contact" name="contact">
			<div class="row">
			<br>
				<h1 class="centered">PLEASE REACH OUT</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4">
					<h3>Contact Information</h3>
					<p><span class="icon icon-home"></span> 431 West Fraklin Street<br/>
						<span class="icon icon-phone"></span> +1 (704) 985-5705 <br/>
						<span class="icon icon-envelop"></span> <a href="#"> morgan.howell95@gmail.com </a> <br/>
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h3>The Fundamental Growth Plan</h3>
					<p>I routinely update my blog with cool theory and new problems. Sign up if you'd like a digest.</p>
					<p>
						<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="inputEmail1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="text1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="text" class="form-control" id="text1" placeholder="Your Name">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-lg-10">
						      <button type="submit" class="btn btn-success">Sign Up</button>
						    </div>
						  </div>
					   </form><!-- form -->
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h3>Social Media</h3>    
						<table id="social-panel">
				      <tr>

				      <td><%= link_to image_tag("Facebook_Icon.png"), "https://www.facebook.com/mhowl1", :class =>'sm-icon'%> </td>

				      <td> <%= link_to image_tag("LinkedIn_Icon.png"), "https://www.linkedin.com/pub/morgan-howell/51/817/211", :class =>'sm-icon'%> </td>

				      <td> <%= link_to image_tag("GooglePlus_Icon.png"), "https://plus.google.com/u/0/+MorganHowell1995/posts", :class =>'sm-icon'%> </td>

				      <td> <%= link_to image_tag("GitHub_Icon.png"), "https://github.com/morganhowell95", :class =>'sm-icon'%> </td>

				    </tr>

			    </table>
				</div><!-- col -->

			</div><!-- row -->
		
		</div><!-- container -->