<button type="button" class="btn btn-default back-button" aria-label="Left Align">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
</button>

<div id="clrs-menu">
	<h1>CLRS Problem Sets and Theory Explanation</h1>
	<ul class="nav chapterset">

		<li class="hm">
			<%= image_tag("dsa/stack_icon.png", size: "60x60", class: "icon")%>
			<span>Chapter 1 </span>
		</li>

		<li class="fb">
			<%= image_tag("dsa/sort_icon.png", size: "60x60", class: "icon")%>
			<span>Chapter 2</span>
		</li>

		<li class="gp">
			<%= image_tag("dsa/count_icon.png", size: "60x60", class: "icon")%>
			<span>Chapter 3</span>
		</li>

		<li class="tw">
			<%= image_tag("dsa/heap_icon.png", size: "60x60", class: "icon")%>
			<span>Chapter 4</span>
		</li>

		</ul>

	<ul class="nav chapterset">

		<li class="cl">
			<img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/phone-24.png" alt="">
			<span>Chapter 5</span>
		</li>

		<li class="hm">
			<%= image_tag("dsa/stack_icon.png", size: "60x60", class: "icon")%>
			<span>Chapter 6</span>
		</li>

		<li class="fb">
			<%= image_tag("dsa/sort_icon.png", size: "60x60", class: "icon")%>
			<span>Chapter 7</span>
		</li>

		<li class="gp">
			<%= image_tag("dsa/count_icon.png", size: "60x60", class: "icon")%>
			<span>Chapter 8</span>
		</li>
	</ul>


	<ul class="nav chapterset">

		<li class="gp">
			<img class="icon" src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/phone-24.png" alt="">
			<span>Chapter 9</span>
		</li>

		<li class="fb">
			<%= image_tag("dsa/stack_icon.png", size: "60x60", class: "icon")%>
			<span>Chapter 10</span>
		</li>

		<li class="cl">
			<%= image_tag("dsa/sort_icon.png", size: "60x60", class: "icon")%>
			<span>Chapter 11</span>
		</li>

		<li class="hm">
			<%= image_tag("dsa/count_icon.png", size: "60x60", class: "icon")%>
			<span>Chapter 12</span>
		</li>
	</ul>
</div>