<div id="wrapper">
	<h1>The Fundamental Growth Plan</h1>
	<ul class="nav">

		<li class="hm">
			<%= image_tag("algorithm-icon.png", size: "60x60", class: "icon")%>
			<span>Data Structures &
						Algorithms</span>
		</li>

		<li class="fb">
			<%= image_tag("interview_icon.png", size: "60x60", class: "icon")%>
			<span>Interview Problem Solving</span>
		</li>

		<li class="gp">
			<%= image_tag("book_icon.png", size: "60x60", class: "icon")%>
			<span>CLRS Solutions & Theory</span>
		</li>

		<li class="tw">
			<%= image_tag("workout_icon.png", size: "60x60", class: "icon")%>
			<span>Workout Regimen</span>
		</li>

	</ul>


	<button type="button" id="menu-info" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
	</button>
</div>

	  <div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			          <h4 class="modal-title">Intro to the Fundamental Growth Plan</h4>
			        </div>
			        <div class="modal-body">
			         
										<iframe width="560" height="315" src="https://www.youtube.com/embed/Hj0bpZCA59s" frameborder="0" allowfullscreen></iframe>
									
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
						      </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->


<!-- blog is implemented as a SPA for offline access -->

<!-- partial to be loaded with workout regimen -->
<div id="workout-wrapper" class="hidden">
<%= render 'shared/workout_partial' %>
</div>

<!-- partial to be loaded for DS&A review -->
<div id="dsa-wrapper" class="hidden">
<%= render 'shared/dsa_partial' %>
</div>

<!-- partial to be loaded for interview problem solving -->
<div id="ips-wrapper" class="hidden">
<%= render 'shared/ips_partial' %>
</div>

<!-- partial to be loaded for CLRS book review and explanation-->
<div id="clrs-wrapper" class="hidden">
<%= render 'shared/clrs_partial' %>
</div>